server {
  listen 80;
  listen [::]:80;

  server_name {{ domain }};

  root /var/www/{{ domain }};

  location ~ /\.well-known/acme-challenge {
    allow all;
  }

  location ~ /\. { deny all; access_log off; log_not_found off; }
}